.std-btn {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  font-size: large;
  cursor: pointer;
  background-color: #03427a;
  color: white;
}

.std-btn:hover {
  filter: brightness(0.9);
  color: white;
}

.blur-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100dvh;
  width: 100%;
  backdrop-filter: blur(10px);
}

.msg {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: #16b4b4;
  padding: 1rem;
  color: white;
  border-radius: 10px;
  font-weight: bold;

  transform: translateX(-150%);
  transition: all 200ms ease-in-out;

  z-index: 99999999;
}

.show {
  transform: translateX(0);
}