.std-btn {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  font-size: large;
  cursor: pointer;
  background-color: #03427a;
  color: white;
}

.std-btn:hover {
  filter: brightness(0.9);
  color: white;
}

.blur-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100dvh;
  width: 100%;
  backdrop-filter: blur(10px);
}